:root {
    --text-color: white;
    --primary-background: rgb(33, 33, 33);
    /* --accent-color: #0f0; */
    --accent-color: yellow;
    --secondary-accent-color: orange;
    --title-font: 'Roboto', sans-serif;
    --default-font: 'Poppins', sans-serif;
    --skew: 5deg
}

* {
    color: var(--text-color);
    font-family: var(--default-font);
    scroll-behavior: smooth;
}

html {
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--primary-background);
}
/* Navbar */

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: fit-content;
    background-color: var(--primary-background);
    z-index: 5;
    
}

.navbar-scrolled {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav-items-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-items {
    list-style: none;
    display: flex;
    margin: .5rem;
}

.nav-item {
    display: inline-block;
    width: max-content;
    text-decoration: none;
    margin: auto .5rem;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 1.2rem;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: var(--accent-color);
    transition: 300ms;
}

.nav-item:hover::after {
    width: 100%;
}

.site-container {
    max-width: 1600px;
    margin: auto;
}

h1, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.medium-emphasis {
    opacity: 75%;
}

.intro-container {
    min-height: 100vh;
}

.intro {
    background: var(--primary-background);
    padding: 7.5rem 15rem 15rem 15rem;
}

.intro-title {
    font-size: 5rem;
    color: var(--text-color);
}

.title-text {
    font-family: var(--title-font);
}

.period {
    color: var(--accent-color);
    background: linear-gradient(to left, var(--accent-color), var(--secondary-accent-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    margin-left: 2px;
}

.about {
    padding-top: 5rem;
}

.intro-to-contact-container {
    margin-top: 2rem;
}

.intro-to-contact-text {
    font-size: .9rem;
}

.intro-to-contact-arrow {
    margin-left: 10px;
    transition: .2s linear;
    color: var(--accent-color);
    background: linear-gradient(to left, var(--accent-color), var(--secondary-accent-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.download-resume {
}

.download-resume-arrow {
    margin-left: 10px;
    margin-right: 1.25rem;
    transition: .2s linear;
    color: var(--accent-color);
    background: linear-gradient(to left, var(--accent-color), var(--secondary-accent-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.download-resume:hover {
    text-decoration: underline;
}

.intro-to-contact-text:hover .intro-to-contact-arrow {
    transform: translateX(50%);
}

#projects {
    background-color: var(--secondary-background);
}

.projects-intro {
    width: fit-content;
    margin: auto;
}

.header-wrapper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: linear-gradient(to left, var(--accent-color), var(--secondary-accent-color));
    padding: 4%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    -webkit-transform: skewY(var(--skew));
    -moz-transform: skewY(var(--skew));
    -ms-transform: skewY(var(--skew));
    -o-transform: skewY(var(--skew));
    transform: skewY(var(--skew));
}

.header-box {
    -webkit-transform: skewY(calc(var(--skew) * -1));
    -moz-transform: skewY(calc(var(--skew) * -1));
    -ms-transform: skewY(calc(var(--skew) * -1));
    -o-transform: skewY(calc(var(--skew) * -1));
    transform: skewY(calc(var(--skew) * -1));
}

.projects-title {
    text-align: center;
    font-size: 3rem;
    color: var(--text-color);
    color: black;
}

.projects {
    padding: 5rem;
    display: grid;
    column-gap: 5rem;
    row-gap: 10rem;
    grid-template-columns: 1fr 1fr;
}

.project-tags {
    display: flex;
    margin-bottom: .5rem;
    flex-wrap: wrap;
}

.project-tag {
    padding: 5px 10px;
    border-radius: 0;
    color: var(--accent-color);
    background-color: var(--primary-background);
    border: 1px solid var(--accent-color);
    width: max-content;
    margin: 3px;
    font-size: .9rem;
}

.grid-item .text {
    padding-top: 0.5rem;
}

.link {
    color: var(--accent-color);
}

.link:hover {
    text-decoration: underline;
}

.grid-item .title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: .5rem;
    margin-top: 0;
    color: var(--text-color);
}

.grid-item .video {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.contact {
    padding: 10rem 0 5rem 0;
    background: var(--primary-background);
}

.contact-me {
    text-align: center;
    font-size: 3rem;
    color: black
}

.contact-form {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

::placeholder {
    font-family: var(--default-font);
    color: var(--text-color);
    font-size: 1rem;
}

.input-name {
    border: none;
    background-color: var(--primary-background);
    border-bottom: 2px solid var(--accent-color);
    height: 2rem;
    margin-right: 2rem;
}

.input-email {
    border: none;
    background-color: var(--primary-background);
    border-bottom: 2px solid var(--accent-color);
    height: 2rem;
}

.input-message {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    background-color: var(--primary-background);
    border-bottom: 2px solid var(--accent-color);
    height: 10rem;
}

textarea {
    resize: none;
}

.submit {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 0;
    color: var(--accent-color);
    background-color: var(--primary-background);
    border: 1px solid var(--accent-color);
}

.submit:hover {
    background-color: var(--accent-color);
    color: black;
    cursor: pointer;
}

.learn-more {
    font-size: .9rem;
    color: var(--accent-color);
}

.learn-more:hover {
    text-decoration: underline;
}

.source-private {
    font-size: .9rem;
    color: var(--accent-color);
}

.source-private:hover {
    text-decoration: none;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.social-icon-container {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(to left, var(--accent-color), var(--secondary-accent-color));
    color: var(--primary-background);
    margin: 10px;
}

.social-icon {
    padding: 10px;
    font-size: 1.25rem;
    color: var(--primary-background);
}

.social-icon-container:hover {
    opacity: 50%;
}


/* mobile: */
@media only screen and (max-width: 800px) {
    .nav-items-container {
        width: 100%;
    }

    .intro {
        padding: 8rem 4rem;
    }

    .intro-title {
        font-size: 4rem;
    }

    .about {
        font-size: 0.8rem;
        padding-top: 5rem;
    }

    .projects {
        padding: 3rem;
        padding-top: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 1rem;
    }

    .projects-title {
        font-size: 2rem;
    }
    
    .grid-item .title {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .grid-item .text {
        font-size: 0.85rem;
    }

    .grid-video {
        align-self: end;
        justify-self: center;
        margin-top: 4rem;
    }

    .item-1 {
        grid-row: 1;
    }
    .item-2 {
        grid-row: 2;
    }
    .item-3 {
        grid-row: 3;
    }
    .item-4 {
        grid-row: 4;
    }
    .item-5 {
        grid-row: 6;
    }
    .item-6 {
        grid-row: 5;
    }
    .item-7 {
        grid-row: 7;
    }
    .item-8 {
        grid-row: 8;
    }

    .contact {
        padding: 10rem 0 2rem 0;
    }
    
    .contact-me {
        text-align: center;
        font-size: 2rem;
    }

    .contact-form {
        margin: 3rem;
        margin-top: 5rem;
    }
    
    .input-email {
        margin-top: 1rem;
    }

    video {
        margin-top: 2rem;
    }

    .project-tag {
        font-size: .7rem;
    }

    .learn-more {
        font-size: .8rem;
    }

    .source-private {
        font-size: .8rem;
    }
}
