 /* PALLETTE 
  #afafaf - medium gray
  #cacaca - light gray

 `--  darkest
  #2f2f2f
  #4e4e4e
  #646464
  #787878
  #424242
  #d8d8d8
  #e3e3e3
  #eeeeee
  --  lightest

*/
/* default styles here for older browsers. 
    I tend to go for a 600px - 960px width max but using percentages
*/


[data-scroll-content] {
  padding: 10vh 0 0 0;
}

:root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
}
body {
height: 100%;
width: 100%;
background-color: #eeeeee;
}
*, ::after, ::before {
  box-sizing: unset;
}


h2, h3, h4, h5 , h6, p {
  font-family: 'STIX Two Text', serif;
}

.high-emphasis {
opacity: 87%;
}
.medium-emphasis {
opacity: 60%;
}
.disabled {
opacity: 38%;
}



#projects .container-expanded {
  background: #2f2f2f;
  position: relative;

  margin-bottom: 10vh;
  padding-bottom: 80vh;
  max-width: none;
  max-height: none;
}


#projects .container {
  position: relative;
  width: 75vw;
  height: 60vh;
  max-width: 700px;
  max-height: 500px;
  margin: 0 auto 20vh auto;
  background: #eee;
  padding: 0;
}

#projects .fullscreen{
  z-index: 5; 
  background: #2f2f2f;
  max-height: none;
  max-width: none;
  width: 100%; 
  height: 110vh; 
  left: 0; 
}
#projects .fullscreen .image-1 {
  background-image: url("./images/rr.png") !important;
  background-size: contain !important;
  background-position: center !important;
}

#projects .fullscreen .image-2 {
  background-image: url("./images/code1.jpg") !important;
  background-size: contain !important;
  background-position: center !important;
}
#projects .fullscreen .image-3 {
  background-image: url("./images/code2.jpg") !important;
  background-size: contain !important;
  background-position: center !important;
}

#projects .fullscreen-img {
  top: 25%;
  /* background-image: url("../images/rr.png") !important;
  background-size: contain !important;
  background-position: center !important; */
}

#projects .image-container {
  position: relative;
  width: 75vw;
  height: 60vh;
  max-width: 700px;
  max-height: 500px;
  margin: 0 auto 20vh auto;
  background: #2f2f2f;
  overflow: hidden;
  z-index: 2;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; 
}
.image-container:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
 .text {
  font-family: 'Monument Extended', sans-serif;

  font-weight: bold;
  color: #eee;
  margin: 0;
  font-size: 64px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: -60%;
  transform: translateY(-50%);
  z-index: 1;
  text-transform: uppercase;
  white-space: nowrap;
  pointer-events: none;
}
.expanded-text {
  font-family: 'Monument Extended', sans-serif;
  font-weight: bold;
  color: #eee;
  margin: 0;
  font-size: 64px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 15vh;
  left: 0%;
  z-index: 6;
  text-transform: uppercase;
  white-space: nowrap;
  pointer-events: none;
}
.expanded-detail {
  font-family: 'STIX Two Text', serif;
  text-align: left;
  color: #eee;
  opacity: 60%;
  font-size: 1.5rem;
  position: absolute;
  z-index: 6;
  max-width: 20vw;
  left: 3vw;
  top: 30vh;
}
  /* .expanded-detail-image {
    background-image: url("../images/code.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 40vw;
    height: 30vh;
    max-width: 400px;
    max-height: 300px;
    right: 6vw;
    top: 30vh;
  } */
.hide {
  display: none;
}

 .text-dark {
    color: red;
}
   .text span {
    position: relative;
    display: block;
    pointer-events: none;
}




#projects .section-title {
  text-align: center;

  font-family: 'Anton', sans-serif;


  padding-bottom: 20vh;
  color: #424242;
  font-size: 10rem;
}




.project-number {
  position: absolute;
  left: -40px;
  top: 110px;
  z-index: 3;
}
.project-number h3{
  font-size: 10rem;
  font-family: 'STIX Two Text', serif;
  font-weight:bolder;
  color: #2f2f2f;
}







.contact {
  background: #2f2f2f;
  width: 100%;
}
.contact .title {
  text-align: center;

  font-family: 'Anton', sans-serif;


  padding-bottom: 10vh;
  padding-top: 10vh;

  color: #d8d8d8;
  font-size: 10rem;
}
.contact form {
  background: #2f2f2f;
  width: 50%;
  margin: auto;
  padding-bottom: 10vh;
}
.row {
  flex-wrap: unset;
}
.contact form input {
  width: 60%;
  background: #2f2f2f;
  border: 0;
  outline: none;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee;
  font-family: 'STIX Two Text', serif;}
.contact form input:focus {
  background: #2f2f2f;
  border: 0;
  outline: none;
  border-bottom: 1px solid #eeeeee;
  font-size: 1.5rem;
  color: #eeeeee;
}
.contact form textarea {
  resize: none;
  margin-top: 5vh;
  background: #2f2f2f;
  border: 0;
  outline: none;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee;
  font-family: 'STIX Two Text', serif;}
.contact form textarea:focus {
  resize: none;

  background: #2f2f2f;
  border: 0;
  outline: none;
  border-bottom: 1px solid #eeeeee;
  font-size: 1.5rem;
  color: #f1eded;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 1.5rem;

}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1.5rem;

}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1.5rem;

}
input::placeholder,
textarea::placeholder {
  font-size: 1.5rem;
}

.contact form .submit {
  margin-top: 5vh;
  /* background: #f1eded; */
  border: 1px solid #eee;
  color: #eee;
  width: 25%;
  font-family: 'STIX Two Text', serif;  font-size: 1.5rem;
  text-align: center;
}
.contact form .submit:hover {
  border: 1px solid #eee;
  background: #eee;
  color: #2f2f2f;
  text-align: center;
}
.contact form .submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------NAVBAR------ */

.sticky {
  position: -webkit-sticky;
position: sticky;
top: 0;
}

.fixed {
  position: fixed;
  top: 0;
}

.navbar {
  background: transparent;
}

.hidden {
  visibility: hidden;
  display: none;
}
.nav-contact {
  font-size: 2rem;
  font-family: 'STIX Two Text', serif;	
   color: #2f2f2f;
   mix-blend-mode: difference;
}
.nav-contact:hover {
  color: #2f2f2f;
  cursor: pointer;
  text-decoration: underline !important;
}



 /* SOCIAL BUTTONS */
.flat-under {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

.circle-button{
  font-family: 'STIX Two Text', serif;	color: #eee;
  font-size: 1.5rem;
  border-radius: 50%;
	transition: all 0.2s ease;
}

.circle-button:hover{
	animation: circle-anim 0.3s ease forwards;
	transition: all 0.4s ease;
}

.grow-container{
  display: inline-block;
  margin: 1em;
}

.to-red:hover{
  background: #eeeeee;
  color: #2f2f2f;
}

.to-twitter:hover{
  background: #eeeeee;
  color: #2f2f2f;
}

.to-facebook:hover{
  background: #eeeeee;
  color: #2f2f2f;
}

.to-github:hover {
  background: #eeeeee;
  color: #2f2f2f;
}

.to-linkedin:hover{
  background: #eeeeee;
  color: #2f2f2f;
}

.to-reddit:hover{
  background: #eeeeee;
  color: #2f2f2f;
}

@keyframes circle-anim{	
	90%{
		padding: 0.35em;
		margin: -0.35em; 
	}
	
	100%{
		padding: 0.25em;
		margin: -0.25em; 
	}
}







/* ------INTRO------ */



.fs-intro {
height: 100vh;
padding-left: 20px;
}
.fs-intro .name {
margin: auto;
margin-top: 20vh;

margin-left: 0;
pointer-events: none;

/* width: 100vh; */
}
.fs-intro .greeting {
  position: absolute;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
.fs-intro .greeting-title {
  font-family: 'Anton', sans-serif;

}
.fs-intro .greeting-text {
  font-family: 'STIX Two Text', serif;
}






/* ------ITEMS------ */

.items-container {
display: table;
}

.items-section {
text-align: center;
padding: 50px;

}


/* ------ABOUT------ */
.about-parent {
  position: relative;
  background: #2f2f2f;
  width: 100%;
  height: 110vh;
  margin-bottom: 50vh;
  padding-top: 50px;
  padding: 50px 2vw 2vh 2vw;
}

.about {
  /* position: absolute; */
}


.about .title {
  text-align: center;

  font-family: 'Anton', sans-serif;


  padding-bottom: 15vh;
  color: #d8d8d8;
  font-size: 10rem;
}

.about .about-text {
  width: fit-content;
  height: fit-content;
  font-size: 1.4em;
  padding-top: 40px;
  color: #eee;
}
.about .skill-icons {
  color: #eee;
  font-size: 3rem;
  margin-top: 7vw;
  display:flexbox;
  align-items: center;
  justify-content: center;
}
.about .skill-icons * {
  padding: 3vw;
}
.about .skill-icons *:hover {
  opacity: 100%;
}
@media screen and (max-width: 575px) {
  .items-section.item-one {
      border-bottom: 1px solid darkgray;
  }
  .items-section.item-two {
      border-bottom: 1px solid darkgray;
  }
  .items-section.item-three {
      border-bottom: 1px solid darkgray;
  }
  .items-section.item-four {
      border-bottom: 1px solid darkgray;
  }
  .items-section.item-five {
      border-bottom: 1px solid darkgray;
  }
}

@media screen and (min-width: 575px) {
  .items-section.item-one {
      border-right: 1px solid darkgray;
  }
  .items-section.item-two {
  }
  .items-section.item-three {
      border-top: 1px solid darkgray;
      border-right: 1px solid darkgray;
  }
  .items-section.item-four {
      border-top: 1px solid darkgray;
  }
  .items-section.item-five {
      border-top: 1px solid darkgray;
      border-right: 1px solid darkgray;
  }
  .items-section.item-six {
      border-top: 1px solid darkgray;
  }
}




/* ------ONSCROLL FADE-IN------ */

.fade {
  opacity: 1;
}





@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
  .fs-intro .greeting-title {
    font-size: 30rem;
  }
  .fs-intro .greeting-text {
        font-size: 2rem;
  }

}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
  .fs-intro .greeting-title {
    font-size: 35rem;
  }
  .fs-intro .greeting-text {
        font-size: 2.5rem;
  }
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
  .fs-intro .greeting-title {
    font-size: 40rem;
  }
  .fs-intro .greeting-text {
        font-size: 4rem;
  }
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .nav-contact {
    font-size: 1rem;
    font-family: 'STIX Two Text', serif;	
     color: #2f2f2f;
  }
  .fs-intro .greeting-title {
    font-size: 14rem;
  }
  .fs-intro .greeting-text {
    padding-top: -2px;
    font-size: 1rem;
  }
  .fs-intro .greeting {
    margin-top:0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #projects .container {
    margin: 40vh auto 0vh auto;
  }
  #projects .image-container {
    margin: 40vh auto 0vh auto;
  }
  #projects .text {
    font-size: 1.4rem;
    top: 50%;
    left: -60%;
}
  #projects .text-box {
    width: fit-content;
    height: fit-content;
    bottom: 10px;
    right:  10px;
    padding: 5px;
}
#projects .text-box p {
  font-size: 0.6rem;
}
#projects .section-title {
  padding-bottom: 0;
  font-size: 5rem;
}
.project-number {
  left: -20px;
  top: 180px;
}
.project-number h3{
  font-size: 5rem;
}
.contact .title {

  padding-bottom: 10vh;
  padding-top: 5vh;
  font-size: 5rem;
}
.about {
  padding: 20px;
  margin-bottom: 40vh;
}
.about .title {
  padding-bottom: 6vh;
  font-size: 5rem;
}
.about .text {
  font-size: 0.8em;
  padding-top: 20px;
}
.about .about-text {
  font-size: 0.8rem;
}
.about .skill-icons {
  color: #eee;
  font-size: 1.2rem;
  margin-top: 5vw;
}
.about .skill-icons * {
  color: #eee;
}
.fas {
  font-size: 10;
  color: #2f2f2f;
}
/* CONTACT */
.contact {
  margin-top: 30vh;
}
.contact form input {
  margin-bottom: 30px;
  width: 100%;
}
.contact form input:focus {
  font-size: 1rem;
  color: #eeeeee;
}
.contact form textarea {
  margin-top: 2vh;
}
.contact form textarea:focus {
  font-size: 1rem;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1rem;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 1rem;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1rem;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1rem;
}
input::placeholder,
textarea::placeholder {
  font-size: 1rem;
}
.contact form .submit {
  width: 50%;
  font-size: 1.2rem;
}
.expanded-text {
  margin: 0;
  font-size: 1.2rem;
  width: 100%;
  top: 17vh;
  left: 0%;
}
.expanded-detail {
  font-size: 0.8rem;
  text-align: center;
  max-width: 80vw;
  margin: auto;
  top: 85vh;
}
.expanded-detail-image {
  display: none;
}
}
@media only screen and (max-device-width: 360px) {
  /* iphone 5/SE */
  #projects .text {
    font-size: 1.2rem;
    top: 50%;
    left: -40%;
}
  .fs-intro .greeting-title {
    font-size: 10rem;
  }
  .expanded-detail {
    font-size: 0.7rem;
    top: 87vh;
  }
}
@media only screen and (max-device-width: 280px) {
  /* glaxy fold */
  .fs-intro .greeting-title {
    font-size: 10rem;
  }
  #projects .text {
    font-size: 1rem;
}
}
/* 768px is for default ipad screens */
@media only screen and (device-width: 1024px) { 
  /* default iPad screens */
  .fs-intro .greeting-title {
    font-size: 16rem;
  }
  .fs-intro .greeting-text {
        font-size: 2rem;
  }
  #projects .text {
    font-size: 2.5rem;
}
.expanded-text {
  font-size: 2.5rem;
  top: 15vh;
}
.expanded-detail {
  max-width: 80vw;
  text-align: center;
  margin: auto;
  top: 80vh;
}
.expanded-detail-image {
  display: none;
}
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
}

